body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
    font-size: 14px;
}
  
h1 {
    color: #333;
}
  
p {
    font-size: 1.0em;
}

#worksheet {
    overflow: auto;
    border: 1px solid #ccc;
    height: 100vh;
    position: relative;
}
  
#grid {
    border-collapse: collapse;
    width: 100%;
}

#grid thead {
    position: sticky;
    top: -0.1px;
    z-index: 1;
    text-align: center;
    user-select: none;
}

#grid #origin-point {
    border: 1px solid #ccc;
    position: sticky;
    left: -0.1px;
}

#grid th {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px;
    height: 8px;
    box-sizing: border-box;
}

#grid tbody th {
    min-width: 50px;
    height: 15px;
    position: sticky;
    left: 0px;
    user-select: none;
}
  
#grid td {
    border: 1px solid #ccc;
    padding: 5px;
    min-width: 100px;
    height: 10px;
    text-align: left;
    overflow: hidden;
    box-sizing: border-box;
}
  
#grid th {
    background-color: #f0f0f0;
}

#grid td[contenteditable="true"] {
    border: none;
    outline: none;
}

#grid td.active {
    border: 2px solid #007bff !important;
}

#grid td.selected {
    border: 1px solid #007bff;
    background-color: #d3d3d3;
}
